h2 {
            color: rgb(231, 122, 19);
        }

        p {
            color: rgb(14, 152, 33);
        }

        #head-2 {
            color: rgb(229, 15, 175);
        }

        .theme-color {
            color: rgb(31, 213, 245);
            text-align: center;
        }